---
layout: default
---
<div class="wrap">
  {% include profile.html %}

  {%- if content != "" -%}
  <section class="section intro">
    {{ content }}
  </section>
  {%- endif -%}

  {%- if site.data.news and site.data.news.size > 0 -%}
  <section class="section">
    <div class="section__head">
      <h2>News</h2>
      <a class="section__more" href="{{ '/publications/' | relative_url }}">All publications &rarr;</a>
    </div>
    <ul class="news">
      {%- for item in site.data.news limit: 6 -%}
      <li>
        <span class="news__date">{{ item.date }}</span>
        <p class="news__text">
          {{- item.text | markdownify | remove: '<p>' | remove: '</p>' -}}
          {%- if item.paper %} <a class="news__link" href="{{ '/publications/' | relative_url }}">Publications&nbsp;&rarr;</a>{% endif -%}
        </p>
      </li>
      {%- endfor -%}
    </ul>
  </section>
  {%- endif -%}
</div>
